<p id="notice"><%= notice %></p>

<h3>Lista de visitantes</h3>
<div class="table-responsive">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th>Departmento</th>
      <th>Funcionario</th>
      <th>Entrada</th>
      <th>Saída</th>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.name %></td>
        <td><%= visit.rg %></td>
        <td><%= visit.cpf %></td>
        <td><%= visit.department.nome %></td>
        <td><%= visit.user.name %></td>
        <td><%= visit.entrada.strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= visit.saida.strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= visit.company.nome %></td>
        <td><%= link_to '', visit, class: 'glyphicon glyphicon-search aria-hidden="true"' %></td>
        <td><%= link_to '', edit_visit_path(visit), class: 'glyphicon glyphicon-pencil aria-hidden="true" ' %></td>
        <td><%= link_to '', visit, method: :delete, data: { confirm: 'tem certeza que gostaria de apagar esta visita?' }, class: 'glyphicon glyphicon-remove aria-hidden="true"' %></td>
      </tr>

      
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'Cadastrar visita', new_visit_path %>
