<p id="notice"><%= notice %></p>

<h3>Departamentos</h3>


<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.nome %></td>
        <td><%= department.descricao %></td>
        <td><%= link_to '', department, class: 'glyphicon glyphicon-search aria-hidden="true"' %></td>
        <td><%= link_to '', edit_department_path(department), class: 'glyphicon glyphicon-pencil aria-hidden="true" ' %></td>
        <td><%= link_to '', department, method: :delete, data: { confirm: 'Tem certeza?' } , class: 'glyphicon glyphicon-remove aria-hidden="true"'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Criar novo departamento', new_department_path %>
