<p id="notice"><%= notice %></p>

<div class="table-responsive">
<p>
  <strong>Nome:</strong>
  <%= @department.nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @department.descricao %>
</p>

</div>

<%= link_to 'Editar', edit_department_path(@department) %> |
<%= link_to 'Voltar', departments_path %>
