<p id="notice"><%= notice %></p>

<h3>Relatórios</h3>


  <ul class="nav nav-tabs" role="tablist">
    <li id="mesAtual" class="active"><a href="#" data-toggle="tab">Mês atual</a></li>
    <li id="porData"><a href="#" data-toggle="tab">Por Datas</a></li>
    <li id="porDepart"><a href="#" data-toggle="tab">Por Departamento</a></li>
    <li id="porFunc"><a href="#" data-toggle="tab">Por Funcionário</a></li>
  </ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="mesAtual">
   <%= render partial: "mesAtual" %>
   
  </div>

  <div class="tab-pane fade" id="porData">
    <%= render partial: "porData" %>
  </div>

  <div class="tab-pane fade" id="porDepart">
    <%= render partial: "porDepart" %>
  </div>

  <div class="tab-pane fade" id="porFunc">
    <%= render partial: "porFunc" %>
  </div>

</div>













<!--<table class="table">
  <thead>
    <tr>
      <th><button class="btn btn-primary">  </button></th>
      <th><button class="btn btn-primary">  </button></th>
      <th><button class="btn btn-primary">  </button></th>
      <th><button class="btn btn-primary"> Por Funcionário </button></th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
</div>
<br> -->

<!--%= link_to 'New Report', new_report_path %> -->
<%= link_to 'Imprimir relatório', reports_path(format: 'pdf') %>
